h2{
  color:white;
  font-size:40px;
}
p{
  color:white;
  
}

.link{
  text-decoration:none;
 color:white;
 transition:all;
}

.link:hover{
  background-color:blue;
  color:red;
  padding:10px;
  border-radius:20px;
  transform:translateY(-5px);
}

.searchbar{
  display:flex;
  justify-content:center;
  gap:13px;
  align-items:center;
}



.searchicon{
 color:white;
}

.searchicon:hover{
  color:grey;
}

.searchbar > input{
  background-color:white;
  color:black;
  padding:8px;
  border-radius:20px;
  border:none;
  width:450px;
}
